h1 {
    font-size: 1.35em
}
hr.spacer{
    margin:10px 0;
    border:0;
}
hr.spacer2{
    margin:20px 0;
    border:0;
}

label.padd {
    padding-right: 10px;
}

.form-inline {
    margin: 10px 0
}
.form-inline .form-control {
    margin-right: 10px
}

.list-inline {
    padding-left: 20px;
    display: inline-block;
}
.list-inline form {
    display: inline;
}
.list-inline .btn-link {
    padding:0; border:0;
}
.list-inline > li {
    padding:0;
}
.list-inline > li {
    display: inline;
}
.list-inline > li:after {
    content: ' | ';
}
.list-inline > li:last-child:after {
    content: '';
}

/* http://w3bits.com/css-masonry/ */

.masonry { /* Masonry container */
    column-count: 1;
    column-gap: 1em;
}

.masonry-item { /* Masonry bricks or child elements */
    display: inline-block;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*box-shadow: 2px 2px 4px 0 #ccc;*/
    border: 1px solid #eee;
}

@media only screen and (min-width: 400px) {  }
@media only screen and (min-width: 700px) {  }

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {  }

@media only screen and (min-width: 1900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}